:root{
    box-sizing: border-box;
    font-size: 63.5%;
}
*{
    margin: 0;
    padding: 0;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-size: 1.6rem;
}
.wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.map{
    width: 50%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.left-content{
    width: 50%;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        .form-inputs{
            border: 1px solid #e8e8e8;
            display: flex;
        }
    }
}

.btn{
    background-color: rgb(127, 127, 192);
    padding: 0.8rem;
    min-width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: none;
    &:hover{
        cursor: pointer;
        border: 1px solid rgb(58, 58, 104);
    }
}

input[type=text]{
    padding: 0.8rem;
    width: 80%;
    border: none;
    &:focus{
        outline: none;
    }
    &:focus > div{
        border: 1px solid  rgb(58, 58, 104);
    }
}